<!-- partial component for the footer -->
<!-- contains the footer and javascript references  -->

    <!-- footer -->

    <!-- javascript files: jquery for js library, bootstrap for components, and index for custom functionality -->
    <script type="text/javascript" src="resources/js/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="resources/js/index.js"></script>
  </body>
</html>
